*{  box-sizing: border-box; }

body{

    background-image: url(https://www.ionos.es/digitalguide/fileadmin/DigitalGuide/Teaser/web-apps-t.jpg);
    background-color: #303030;
    background-blend-mode: soft-light;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.encabezado{
    height: 28vh;
    padding: 1px;
    /* background-color: rgba(48, 58, 64, 0.24); */
    display: flex;
    align-items: center;
    justify-content: center;
}

h1{
    font-size: 20vw !important;
    font-family: 'Indie Flower', cursive;
}

#tasks-container{    
    display: flex;
    flex-flow: row wrap !important;
    align-items: center;
    justify-content: center;
}

.card{
    width: 305px !important;
    margin: 20px !important;
    padding: 0 !important;
    border: none;
    margin-top: 40px !important;
}

.card1 {
    margin: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
    background-color: transparent;
    border: 1px solid grey;
    border-radius: 0.25rem;
}

#titulo{
    text-align: left;
    margin: 0;
    padding: 0;
    margin-top: -0.5em !important;
}

#titulo h4{
    border-radius: 0.25rem;
    padding: 20px !important;
    padding-top: 10px !important;
    background-color: #303030;
    display: inline;
    margin: 0;
}

@media screen and (max-width: 768px) {
    #formulario{
        max-width: 100% !important; 
    }
    h3{
        max-width: 100%;
    }
}

@media screen and (min-width: 768px) {
    h1{
        font-size: 12vw !important;
    }
}
